<html>
  <title> Welcome template for books </title>
  <body>
    <p> Total number of books = <%= @num_books %> </p>
    <form action = "result" >
      Enter Searching Title: <input type="text" name="title" />
      <input type=submit value="Search" />
    </form>
  </body>
</html>
